<%- include('../partials/header') %>

<form action="/skills/<%= entry.id %>?_method=PUT" method="POST">
  <input type="text" name="skill" value="<%= entry.skill %>"><br>
  <label>
    <input type="checkbox" name="done" <%= entry.done ? 'checked' : '' %>>
    has
  </label><br>
  <button type="submit">Update skill</button>
</form>

<%- include('../partials/footer') %>